{% extends "base.html" %}

{% block content %}

<div class="bg-white p-8 rounded-lg shadow-md text-center">
    <h2 class="text-3xl font-bold mb-4 text-gray-800">Dobrodošli na Flask TryMyBike!</h2>
    <p class="text-lg text-gray-600 mb-6">Ovo je naša nova početna stranica koja koristi Tailwind CSS.</p>

    <!-- Prikazujemo promenljivu iz Pythona! -->
    <p class="text-xl text-blue-600 font-semibold">Zdravo, {{ moje_ime }}!</p>

</div>

<h3 class="text-2xl font-bold mt-8 mb-4 text-left text-gray-800">Naši proizvodi:</h3>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    {% for proizvod in proizvodi %}

    <div class="bg-gray-50 border border-gray-200 p-4 rounded-lg shadow-sm hover:shadow-md transition">

        <h4 class="text-xl font-semibold text-blue-700">{{ proizvod.naziv }}</h4>
        <p class="text-lg text-gray-600 mt-2">Cena: <span class="font-bold text-green-600">{{ proizvod.cena }}
                RSD</span></p>
    </div>

    {% endfor %}
</div>

{% endblock %}